.cv table {
    width: 100%;
}

@media screen {

    .print-button {
        float: right;
    }

    .cv {
        font-size: 11pt;
    }

    .cv-header {
        display: none;
    }
}

@media print {
    @page {
        size: letter;
        margin: 1.5cm;
    }

    body {
        font-family: "Inter", sans-serif;
        font-size: 10pt;
        line-height: 1.5;
    }

    h1 {
        color: #0f7173;
        font-size: 14pt;
        margin-top: 0.25cm;
        border-bottom: 1px solid #0f7173;
    }

    h2 {
        font-size: 12pt;
        margin-top: 0.25cm;
        margin-bottom: 0cm;
    }

    h3 {
        font-size: 10pt;
        margin-top: 0;
        margin-bottom: 0.25cm;
    }

    li {
        margin-bottom: 0;
    }

    p {
        margin-bottom: 0;
    }

    .print-button {
        display: none;
    }

    .cv-header h1 {
        font-size: 20pt;
        font-weight: bold;
        text-align: center;
        border-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .cv-header h2 {
        font-size: 12pt;
        font-weight: bold;
        text-align: center;
    }

    .cv-header h3 {
        font-size: 10pt;
        text-align: center;
    }

    .cv-header table {
        width: 100%;
        text-align: center;
        margin-bottom: 12pt;
        font-weight: bold;
        font-size: 10pt;
    }

    .wrapper {
        margin: 0;
        max-width: fit-content;
    }

    .page-content {
        padding: 0;
    }

    .wrapper {
        padding: 0;
    }

    .site-header {
        display: none;
    }

    .site-footer {
        display: none;
    }

    .print-cv {
        display: none;
    }
}