.cv table {
    width: 100%;
}

@media screen {

    .print-button {
        float: right;
        margin-left: 15px;
    }

    .cv {
        font-size: 11pt;
    }

    .cv-header {
        display: none;
    }
}

@media print {
    @page {
        size: letter;
        margin: 1cm 1.5cm;
    }

    .cv-header .contact-info {
        display: flex;
        font-weight: bold;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0.1cm 2rem;
        font-size: 10pt;
    }

    .cv-header .contact-info>* {
        position: relative;
        text-decoration: none;
        color: inherit;
    }

    .cv-header .contact-info>*:not(:last-child)::after {
        content: "|";
        font-size: 12pt;
        position: absolute;
        right: -1rem;
        transform: translateX(50%);
        color: #0f7173;
    }

    .cv-header h1 {
        font-size: 24pt;
        font-weight: bold;
        text-align: center;
        border-bottom: 0.1cm;
        margin-bottom: 0.2cm;
        margin-top: 0;
    }

    .cv-header h2 {
        font-size: 12pt;
        font-weight: bold;
        text-align: center;
    }

    body {
        font-family: "Helvetica", "Arial", sans-serif;
        font-size: 10pt;
        line-height: 1.15;
    }

    h1 {
        color: #0f7173;
        font-size: 12pt;
        margin-top: 0.2cm;
        margin-bottom: 0;
        border-bottom: 1px solid #0f7173;
    }

    h2 {
        font-size: 11pt;
        margin-bottom: 0cm;
        margin-top: 0.2cm;
    }

    h3 {
        font-size: 10pt;
        margin-top: 0.05cm;
        margin-bottom: 0cm;
        font-weight: normal;
        font-style: italic;
    }

    li {
        margin-bottom: 0;
    }

    ul {
        margin-left: 1.25rem;
        margin-top: 0.05cm;
        margin-bottom: 0cm;
    }

    p {
        margin-bottom: 0;
        margin-top: 0.1cm;
    }

    .print-button {
        display: none;
    }

    .wrapper {
        margin: 0;
        max-width: fit-content;
        padding: 0;
    }

    .page-content {
        padding: 0;
    }

    .site-header {
        display: none;
    }

    .site-footer {
        display: none;
    }

    .print-cv {
        display: none;
    }
}