body {
    font-family: 'Lato';
    font-size: 10pt;
    margin: 0 auto;
    text-justify: inter-word;
    line-height: 1.15;
}

#header {
    padding-bottom: 0.25in;
    margin-top: -0.5in;
    text-align: center;
}

#name {
    font-weight: 600;
    font-size: 24pt;
    margin-bottom: 1in;
}

table {
    width: 100%;
}

td {
    text-align: center;
}

h3 {
    border-bottom: 1px solid black;
    font-size: 14pt;
}

a {
    color: #57A;
    font-weight: bold;
    text-decoration: none;
}

p {
    margin-top: 0.25em;
    margin-bottom: 0.5em;
}

ul,
ol,
dl {
    line-height: 1.25em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 1em;
}

@page {
    margin: 1in;
    border: 0pt solid white;
}
